﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>

<h2>Too Young Error</h2>

<p>Sorry, you are too young to register.</p>

<a class="text-dark" asp-area="" asp-controller="User" asp-action="Register">Return to register</a>
</div>