﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    int quantity = (int)ViewData["Quantity"];
}

@model List<Product>

<h2>Checkout</h2>


@using (Html.BeginForm("CheckOutForm", "Product", FormMethod.Post, new { id = "checkoutForm" }))
{

    for (int i = 0; i < quantity; i++)
    {
        <div class="product">
            <label for="Name">Name:</label>
            <input type="text" name="Products[@i].Name" id="Name" />
            <br />
            <label for="Radius">Radius:</label>
            <input type="number" name="Products[@i].Radius" id="Radius" />
            <br />
            <hr />
        </div>
    }

    <button type="submit" id="submitForms">Submit Forms</button>
}

