﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Product>? products = ViewData["OrderData"] as List<Product>;
    User? user = ViewData["User"] as User;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Count: @products.Count</p>
        </div>
    </div>
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">Radius: @product.Radius</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Products will be delivered to:</h2>
            <h5>Name:@user.Name</h5>
            <p>Address: @user.Address</p>
        </div>
    </div>
</div>
