﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product

<h2>Order quantity</h2>

<form asp-action="Quantity">
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>